.roomWrapper {
  display: flex;
  width: 100%;
  margin-bottom: 1.5rem;
}

.room__value_input {
  width: 100%;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 4px;
  padding: 10px;
  background-color: #fff;
  text-align: left;
}
