.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.customSelect {
  position: relative;
}
.customSelect__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 4px;
  padding: 10px;
  background-color: rgb(250, 250, 250);
  text-align: left;

}

.customSelect__button_open .dropdown__chevron {
  transform: rotate(180deg);
}

.dropdown__chevron {
  display: inline-block;
  max-width: 20px;
  max-height: 20px;
  transition: .3s ease;
}
.dropdown__chevron svg {
  width: 100%;
  height: auto;
}

.customSelect__options {
  display: none;
  position: relative;
  padding: 0;
  list-style: none;
  margin: 0;
  position: absolute;
  background-color: #fff;
  border: 1px solid rgb(185, 185, 185);
  width: 100%;
  overflow: hidden;
  z-index: 2;
}

.customSelect__show {
  display: block;
}

.customSelect__option {
  padding: 5px 10px;
  cursor: pointer;
  transition: .3s ease;
}

.customSelect__option:hover {
  background-color: #ccc;
}
