.threekit__wrapper {
  height: auto;
  max-width: 96rem;
  width:100%;
  display: flex;
  flex-direction: row;
  margin: 0 0 20px;
  flex-wrap:wrap;
}

.player__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  width: 50%;
  max-height: 80vh;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.controls__wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  background: #f2f2f9;
  padding: 30px;
  box-shadow: inset 0 10px 20px -12px rgb(0 0 0 / 14%);
}

.measurementsWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .threekit__wrapper {
    flex-direction: column;
    gap: 15px;
  }
  .player__wrapper, .controls__wrapper {
    width: 100%;
    position: relative;
  }
}